:root {
  color-scheme: light dark;
  --bg: light-dark(#dddddd, #555555);
  --text: light-dark(#555555, #dddddd);
}

body {
  /*  background: var(--bg);  */
  /*  color: var(--text);  */
  font-family: system-ui, sans-serif;

  margin: 0;
  min-height: 100dvh;

  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

header {
  grid-area: header;
}

aside.sidebar {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
