:root {
  color-scheme: light dark;
  --bg: light-dark(#e3e3e3, #454545);
  --text: light-dark(#454545, #e3e3e3);
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;

  min-height: 100dvh;

  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

header {
  grid-area: header;
}

aside.sidebar {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
